<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Homework 1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <fixed_cart v-if="isVisibleCart"></fixed_cart>
        <header>
            <div class="main-menu">
                <div class="top-menu">
                    <div class="top-menu-search">
                        <div class="top-menu-search-icons">
                            <div class="top-menu-search-icons-icon"></div>
                            <div class="top-menu-search-icons-icon"></div>
                            <div class="top-menu-search-icons-icon"></div>
                        </div>
                        <input class="top-menu-search-input" v-model="search">
                    </div>
                </div>
                <div class="bottom-menu">
                    <cart_button @click="openCart">Корзина</cart_button>
                </div>
            </div>
        </header>
        <main>
            <div class="goods-list">
                <goods_item v-for="item in filteredGoods" :item="item"></goods_item>
            </div>
            <div v-if="filteredGoods.length === 0">нет данных</div>
            <div>{{totalPrice}}</div>
            <div>{{search}}</div>
        </main>
    </div>
    <script src="script.js"></script>
</body>
</html>